---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/catppuccin-{{ flavor.identifier }}.json"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
{
  "cursor": "{{ rosewater.hex }}",
  "number": "{{ peach.hex }}",
  "parens": "{{ text.hex }}",
  "result": "{{ green.hex }}",
  "comment": "{{ overlay0.hex }}",
  "matched": "{{ teal.hex }}",
  "function": "{{ blue.hex }}",
  "operator": "{{ sky.hex }}",
  "variable": "{{ red.hex }}",
  "scrollbar": "{{ overlay2.hex }}",
  "separator": "{{ overlay2.hex }}",
  "background": "{{ base.hex }}",
  "editorbackground": "{{ surface0.hex }}"
}
